{% extends "layout.html" %}
{% block content %}
    {% for housing in housings %}
        <article class="media content-section">
          <div class="media-body">
            <div class="article-metadata">
              <a class="mr-2" href="#">{{ housing.author_username }}</a>
              <small class="text-muted">{{ housing.date_posted.strftime('%Y-%m-%d') }}</small>
            </div>
            <h2><a class="article-title" href="{{ url_for('post', housing_id=housing.get('_id')) }}">{{ housing.name }}</a></h2>
            <p class="article-content">{{ housing.address }}</p>
          </div>
        </article>
    {% endfor %}
{% endblock content %}
