.menu{
    padding: 0 20px;
    border-bottom: solid 1px #e8e8e8;
    overflow: auto;
    box-shadow: 0 0 30px #f3f1f1;
    /* background-color: white; */
}

.menu_container{
    padding: 0px 5px;
}

.menu_container .menu_right{
    float: right;
}

.menu_container .menu_left{
    float: left;
}

